.App {
  text-align: center;
  background-color: #fbeee6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  background-color: black;
  font-family: Poppins;
  margin: 0px 0px 20px 0px;
  padding: 0;
  font-size: small;
}

.links {
  color: white;
}

.cards{
  border: none;
  font-family: Poppins;
  background-color: black;
  font-weight: 500;
  color: white;
}

.imgCard {
  border-radius: 15px;
  margin-left: 15px;
}

body {
  font-family: Poppins;
  background-color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}


.navContainer {
  padding: 10px;
  margin-bottom: 20px;
  height: 100%;
  max-height: 420px;
}

.burgerContainer {
  float:right;
}

.welcome{
  font-family: Roboto !important;
}

.paperLanding {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 200px;
  padding: 15px;
}


.landDescription {
  text-align: center;
}

/*navbar styling*/
.navbar {
  width: rem(80px);
  height: rem(750px);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
  margin-top: rem(50px);
}

.link {
  width: rem(50px);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}
/*end of navbar styling*/

@media (min-width: 1024px) {
  .imageLand {
    width: 100% !important;   /* Force the image to be 100% of its container */
    height: fit-content !important;  /* Maintain the aspect ratio */
  }

  /* Adjust paper margin for better spacing on mobile */

  /* Hide carousel controls (arrows) on mobile for better UX */

  /* Adjust carousel text size to be more readable on mobile */
  .mantine-Text {
    font-size: 14px !important; /* Adjust to a more readable font size */
  }

  /* Modify font size and padding for titles on mobile */
  .mantine-Title {
    font-size: 20px !important;   /* Make titles smaller on mobile */
    padding: 0 10px !important;   /* Add padding to prevent clipping */
  }

  /* Ensure carousel items take full width on smaller screens */
  .mantine-Carousel-slide {
    width: 100% !important;
    height: 100% !important;   /* Force slides to take full width */
  }

  /* Adjust spacing in lists and other components */
  .listItems {
    font-size: 12px !important; /* Decrease font size for list items */
    padding-left: 20px !important; /* Ensure proper indentation for list items */
  }

  /* Adjust the badge size for better mobile visibility */
  .mantine-Badge {
    font-size: 12px !important;  /* Smaller text size for mobile badges */
    padding: 5px 10px !important; /* Add some padding for better readability */
  }

  /* Make sure images within carousels also scale properly */
  .mantine-Image {
    width: 100% !important;
    height: 100% !important;  /* Maintain the aspect ratio of carousel images */
  }

  .carouselFeature{
    height: 425px !important;
    margin-bottom: 20px !important;
  }
  .navContainer{
    font-size: 5px !important;
  }

  .objectives{
    margin-top: 30px !important;
  }
  .imageFeature{
    height: auto !important;
  }
  .imageContributors{
    height: 450px !important;
    width: 100% !important; 
  }
}

@media (max-width: 1020px){
  .imageLand {
    width: 100% !important;   /* Force the image to be 100% of its container */
    height: fit-content !important;  /* Maintain the aspect ratio */
  }

  /* Adjust paper margin for better spacing on mobile */

  /* Hide carousel controls (arrows) on mobile for better UX */

  /* Adjust carousel text size to be more readable on mobile */
  .mantine-Text {
    font-size: 14px !important; /* Adjust to a more readable font size */
  }

  /* Modify font size and padding for titles on mobile */
  .mantine-Title {
    font-size: 20px !important;   /* Make titles smaller on mobile */
    padding: 0 10px !important;   /* Add padding to prevent clipping */
  }

  /* Ensure carousel items take full width on smaller screens */
  .mantine-Carousel-slide {
    width: 100% !important;
    height: 100% !important;   /* Force slides to take full width */
  }

  /* Adjust spacing in lists and other components */
  .listItems {
    font-size: 12px !important; /* Decrease font size for list items */
    padding-left: 20px !important; /* Ensure proper indentation for list items */
  }

  /* Adjust the badge size for better mobile visibility */
  .mantine-Badge {
    font-size: 12px !important;  /* Smaller text size for mobile badges */
    padding: 5px 10px !important; /* Add some padding for better readability */
  }

  /* Make sure images within carousels also scale properly */
  .mantine-Image {
    width: 100% !important;
    height: 100% !important;  /* Maintain the aspect ratio of carousel images */
  }

  .carouselFeature{
    height: 425px !important;
    margin-bottom: 20px !important;
  }
  .navContainer{
    font-size: 5px !important;
  }

  .objectives{
    margin-top: 30px !important;
  }
  .carouselFeature{
    height: 200px !important;
    margin-bottom: auto !important;
  }

  .carouselGoals{
    height: 200px !important;
    margin: auto !important;
  }
  .imageFeature{
    height: 200px!important;
    width: 400px !important;
  }
  .imageContributors{
    height: 200px!important;
    width: 400px !important; 
  }
}

/* For devices with a max-width of 768px (tablets and below) */
@media (max-width: 768px) {
  /* Ensure images scale correctly */
  .imageLand {
    width: 100% !important;   /* Force the image to be 100% of its container */
    height: 100% !important;  /* Maintain the aspect ratio */
  }

  /* Adjust paper margin for better spacing on mobile */
  .paperLanding {
    margin: 0 !important;     /* Remove extra margins */
    padding: 10px !important; /* Add padding for better spacing */
  }

  /* Hide carousel controls (arrows) on mobile for better UX */
  .mantine-Carousel-control {
    display: none !important;
  }

  /* Adjust carousel text size to be more readable on mobile */
  .mantine-Text {
    font-size: 12px !important; /* Adjust to a more readable font size */
  }

  /* Modify font size and padding for titles on mobile */
  .mantine-Title {
    font-size: 20px !important;   /* Make titles smaller on mobile */
    padding: 0 10px !important;   /* Add padding to prevent clipping */
  }

  /* Ensure carousel items take full width on smaller screens */
  .mantine-Carousel-slide {
    width: 100% !important;
    height: 100% !important;   /* Force slides to take full width */
  }

  /* Adjust spacing in lists and other components */
  .listItems {
    font-size: 14px !important; /* Decrease font size for list items */
    padding-left: 20px !important; /* Ensure proper indentation for list items */
  }

  /* Adjust the badge size for better mobile visibility */
  .mantine-Badge {
    font-size: 12px !important;  /* Smaller text size for mobile badges */
    padding: 5px 10px !important; /* Add some padding for better readability */
  }

  /* Make sure images within carousels also scale properly */
  .mantine-Image {
    width: 100% !important;
    height: 100% !important;  /* Maintain the aspect ratio of carousel images */
  }

  .carouselFeature{
    height: 200px !important;
    margin-bottom: auto !important;
  }

  .carouselGoals{
    height: 200px !important;
    margin: auto !important;
    width: auto !important;
  }
  .imageFeature{
    height: 200px!important;
    width: 400px !important;
  }
  .imageContributors{
    height: 200px!important;
    width: 400px !important; 
  }

  .objectives{
    margin-top: 30px !important;
  }
  
}


.objectives {
  font-family: Raleway, sans-serif;
  text-align: center;
}

.missionTitles{
  font-family: "Noto Sans", sans-serif !important;
}


.listItems{
  font-family: Poppins, "sans-serif" !important;
}

.featureTitle{
  font-family: Britanny !important;
  font-size: 4rem !important;
}

.contribute{
  font-family: Britanny !important;
  font-size: 3rem !important;
}

@font-face {
  font-family: 'Britanny';
  src: url('../src/fonts/BrittanySignature.ttf') format('truetype');
}

.description{
  font-family: Poppins, sans-serif;
}

.navLinks:hover{
  background-color: gray;
  color: black;
  font-weight: 700;
}
